/* ---------------------------------------------------------------------------
 * $Id: size.css,v 1.4 2006/07/26 09:22:59 eric Exp $
 * ---------------------------------------------------------------------------
 
 * ---------------------------------------------------------------------------
 */

* {
  font-size: [SIZE_MEDIUM];
  font-family : Helvetica, Arial, sans-serif;
}

body, .core, P {
  font-size: [SIZE_MEDIUM];
  font-family : Helvetica, Arial, sans-serif;
}
H1 {
  font-size: [SIZE_XX-LARGE];
}
TD, TR, TH {
  font-size: [SIZE_MEDIUM];
}




/* ------------------------------------------
 * POPUPMENU
 * ------------------------------------------
 */



.popup a.menuItem * ,.popup a.menuItem, .popup a.menuItem:link, .popup a.menuItem:visited ,.popup a.menuItemCtrl:link, .popup a.menuItemCtrl:visited , popup a.menuItemDisabled,  .popup a.separator {
  
  font-size:[SIZE_SMALL];
  font-weight: normal;
}


.popup a:link {
  font-size:[SIZE_SMALL];
}
