/* ----------------- aide ---------------------- */
#aide {
  position:absolute;
  display:inline;
  border-style:solid;
  border-width:3px;
  border-color: [COLOR_A8] [COLOR_A4] [COLOR_A4] [COLOR_A8];
  background-color: [COLOR_WHITE];
  padding:10px;
  left : 50px;
  right : 50px;
  -moz-border-radius: 10px;
}
#aide #closeaide {  font-weight:bold; right:10px; margin : 5px 0px 10px 0px; }

/* ----------------- navbar ---------------------- */
td.bresume { 
    margin:0 10px 0 10px; 
    padding:3px 3px 3px 10px;
    border-bottom:1px solid [COLOR_B0];
    border-top:1px solid [COLOR_B0];
    background-color:[COLOR_C6];
}
td.bresume b { 
    font-size:120%;
    font-weight:bold;
}
#nextresultbuttontop, #nextresultbuttonbottom { padding-left:10px; }

/* ---------------- result zone ------------------------ */

#dresult {   overflow-y:auto; border:0px solid red; padding : 0 10px 0 10px; }
div.result { 
    border-style:solid;
    border-width:3px;
    border-color: [COLOR_WHITE]; 
    border-bottom:3px solid [COLOR_WHITE];    
    margin:5px 0 5px 0; padding:0px;
    border-left:2.5em solid [COLOR_A9]; 
    color:[COLOR_A5];
}
div.result div.number { 
    font-size:120%; 
    margin:0 0 0 -2em;
    padding:0.5em; 
    color:[COLOR_A5]; 
    font-weight:bold; 
}
div.iconresult { float:left;  }
div.iconresult img { opacity:0.6; width:1.5em; padding:1em 1em 0 1em; }
div.result span.title { font-size:120%; font-weight:bold; padding-left:5px; color:[COLOR_A2]; }
div.result i { padding:0 0 0 40px; font-variant:italic; }
div.result b { color:[COLOR_A2]; font-weight:bold; }

/* Over the result */
div.result:hover { border-color:[COLOR_A5]; cursor:pointer; }
div.result:hover div.inforesult  { color:[COLOR_A3];  }
div.result:hover div.number  { color:[COLOR_WHITE]; }

div.result:hover  span.title { color :[COLOR_BLACK]; }
div.result:hover  i { color :[COLOR_A0]; }
div.result:hover div.inforesult { color :[COLOR_A0]; }
div.result:hover  b { color :[COLOR_A0]; }
div.result:hover  img { opacity:1 }

/* selected result */
div.selectedresult { background-color:[COLOR_C5]; border-color:[COLOR_A7]; }
div.selectedresult  div.number { color :[COLOR_WHITE]; }
div.selectedresult  span.title { color :[COLOR_BLACK]; }
div.selectedresult div.inforesult { color :[COLOR_A0]; }
div.selectedresult  b { color :[COLOR_A0]; }
div.selectedresult  img { opacity:1 }

/* --------- incorporated document --------------------------- */
#divdoc {
    position:absolute;
    bottom:10px;
    right:20px;
    width:60%;
    border-style:solid;
    border-width:2px;
    border-color: [COLOR_A8] [COLOR_A4] [COLOR_A4] [COLOR_A8];
    background-color:[COLOR_WHITE];
    padding:2px;
    margin:0px;
    background-color:[COLOR_A7];
}
#closeaide, #divdoc > p { padding:2px; margin:1px 0 3px 0; }
#closeaide a, #divdoc > p a {
    background-color:[COLOR_A5];
    border-style:solid;
    border-width:1px;
    border-color: [COLOR_A8] [COLOR_A4] [COLOR_A4] [COLOR_A8];
    color:[COLOR_WHITE];
    padding:0px 5px 0px 5px;
    margin: 0; 
}
#closeaide a:hover, #divdoc > p a:hover { 
    text-decoration:none; 
    border-color:  [COLOR_A4] [COLOR_A8] [COLOR_A8] [COLOR_A4];
}
div.inforesult,  div.textresult {
    float:left;	
}
div.number {
    float:left; 
}
div.endresult {
    clear:both; 
}

#searchbottom, #searchtop {
    width:97%; 
    margin:0px 0px 0px 0px; 
    padding:0
}
#searchtop {
    width:100%; 
    margin:0px 0px 0px 0px; 
    padding:0
}
div.searchbarmenu {
    margin:5px 10px 5px 0;
    text-align:right;
    border-right:1px solid [CORE_ACOLOR];
}
div.searchbarmenu a {
    border-left:1px solid [CORE_ACOLOR];
    padding:0 5px 0 5px;
    margin:0;
}
#detaildoc {
    width:100%;
    padding:0;
    margin: 0;
    background-color:[COLOR_WHITE];
    border-width:0px;
}

/* -------------- search zone -------------------- */
#searchzone {  width:60%; margin:-15px 0 0 50px; }
div.logo img.logomini { float:left; margin:-5px 0 10px -40px; width:24px; } 
div.searchp { float:left; }
div.searchp input[type=text] { 
    border-style:solid;
    border-width:1px;
    border-color:[COLOR_A4] [COLOR_A8] [COLOR_A8] [COLOR_A4];
    background-color:[COLOR_B9]; 
    font-size:[SIZE_MEDIUM];
}
div.searchp input[type=submit] { 
    font-size:[SIZE_MEDIUM];
    padding-left:5px;
    margin-left:10px;
	vertical-align:middle;
}
div.searchp select.little { 
    font-size:[SIZE_MEDIUM];
    margin:5px 0 0 0;
}
/*  -- for detailled search */
SELECT.little { font-size:90%; }
DIV.search {
  
  border:none;
  background-color:[COLOR_WHITE];
  padding:10px;
}
DIV.famselect {
	float:left;
}
DIV.famselect div.select {
    float:left;
}
DIV.famicon {
    float:left;
}


