/* ----------------- navbar ---------------------- */
td.bresume { 
    margin:0 10px 0 10px; 
    padding:3px 3px 3px 10px;
    border-bottom:1px solid [COLOR_B0];
    border-top:1px solid [COLOR_B0];
    background-color:[COLOR_C6];
}
td.bresume b { 
    font-size:120%;
    font-weight:bold;
}
#nextresultbuttontop, #nextresultbuttonbottom { padding-left:10px; }

/* ---------------- result zone ------------------------ */

#dresult {   overflow-y:auto; border:0px solid red; padding : 0 10px 0 10px; }
div.result { border-style:solid;
	     border-width:3px;
	     border-color: [COLOR_WHITE]; 
	     border-bottom:3px solid [COLOR_WHITE];    
	     margin:5px 0 5px 0; padding:0px; }
div.result table { }
tr.result  { vertical-align:bottom; }
tr.result td.number { border:1px solid [COLOR_A8];
		      background-color :[COLOR_B9]; vertical-align:top; width:1em;  font-size:120%; 
		      padding:0 5px 0 5px; color:[COLOR_A5]; font-weight:bold; }
tr.result td.result img { opacity:0.4; width:2em; padding:0 1em 0 1em; }
td.result { color:[COLOR_A7]; }
td.result span.title { font-size:120%; font-weight:bold; color:[COLOR_A2]; }
td.result i { padding:0 0 0 40px; font-variant:italic; }
td.result b { color:[COLOR_A2]; font-weight:bold; }

/* Over the result */
div.result:hover { border-color:[COLOR_A5]; cursor:pointer; }
div.result:hover td.result  { color:[COLOR_A3];  }
div.result:hover td.number  { background-color :[COLOR_A5]; color:[COLOR_WHITE]; }

div.result:hover td.result span.title { color :[COLOR_A0]; }
div.result:hover td.result i { color :[COLOR_A0]; }
div.result:hover td.result b { color :[COLOR_A0]; }
div.result:hover td.result img { opacity:1 }

/* --------- incorporated document --------------------------- */
#divdoc {
    position:fixed;
    bottom:10px;
    right:20px;
    width:60%;
    border: 0px;
    border:3px solid [COLOR_A7];
    background-color:[COLOR_WHITE];
    padding:5px;
    margin:0px;
    background-color:[COLOR_A7];
}
#divdoc > p { padding:0; margin:0; }
#divdoc > p a {
    color:[COLOR_WHITE];
    padding:0 10px 0 0;
    margin:0; 
}
div.result img {
	float:left;
}

div.searchbarmenu {
	text-align:right;
}
div.searchbarmenu a {
    /*font-size:80%;*/
	border-left:solid 1px [CORE_ACOLOR];
	padding-left: 2px;
}
#detaildoc {
    width:100%;
    padding:0;
    margin:0px;
    background-color:[COLOR_WHITE];
    border-width:2px;
    border-style:solid;
    border-color:[COLOR_A4] [COLOR_A8] [COLOR_A8] [COLOR_A4];
    
}
.selectedresult {
        border-color:[COLOR_A6];
        border-style:solid none solid solid;
        border-width:3px;
}

div.selectedresult td.result span.title { color :[COLOR_A0]; }
div.selectedresult td.result i { color :[COLOR_A0]; }
div.selectedresult td.result b { color :[COLOR_A0]; }
div.selectedresult td.result img { opacity:1 }

/* -------------- search zone -------------------- */
#searchzone { width:60%; margin-left:50px; }
div.logo img.logomini { float:left; margin-left:-40px; width:24px; } 
div.searchp { float:left; }
div.searchp input[type=text] { 
    border-style:solid;
    border-width:1px;
    border-color:[COLOR_A4] [COLOR_A8] [COLOR_A8] [COLOR_A4];
    background-color:[COLOR_B9]; 
    font-size:[SIZE_MEDIUM];
}
div.searchp input[type=submit] { 
    font-size:[SIZE_MEDIUM];
    padding-left:5px;
    margin-left:10px;
	vertical-align:middle;
}
div.searchp select.little { 
    font-size:[SIZE_MEDIUM];
    margin:5px 0 0 0;
}
