/* ---------------------------------------------------------------------------
 * $Id: BRUSHED.css,v 1.4 2006/06/21 13:51:38 eric Exp $
 * ---------------------------------------------------------------------------
 
 * ---------------------------------------------------------------------------
 */



body, .core {
  background-color: transparent;
  background-image: [CORE_BGIMAGE];
  font-family: [CORE_FONTLIST1];
  color: [CORE_TEXTFGCOLOR];
}
