/* ---------------------------------------------------------------------------
 * $Id: BRUSHED.css,v 1.6 2006/07/26 08:29:58 eric Exp $
 * ---------------------------------------------------------------------------
 
 * ---------------------------------------------------------------------------
 */



body, .core {
  background-color: transparent!important;
  background-image: [CORE_BGIMAGE]!important;
  color: [CORE_TEXTFGCOLOR];
}
TABLE.headbarmenu TD {  
  background-color: transparent!important;
  background-image: none;
}
TABLE.headbarmenu TR.headcell {
  background-color: transparent;
}
