/* ---------------------------------------------------------------------------
 * $Id: BRUSHED.css,v 1.5 2006/07/21 07:31:04 eric Exp $
 * ---------------------------------------------------------------------------
 
 * ---------------------------------------------------------------------------
 */



body, .core {
  background-color: transparent!important;
  background-image: [CORE_BGIMAGE]!important;
  font-family: [CORE_FONTLIST1];
  color: [CORE_TEXTFGCOLOR];
}
TABLE.headbarmenu TD {  
  background-color: transparent!important;
  background-image: none;
}
TABLE.headbarmenu TR.headcell {
  background-color: transparent;
}