.text {
    margin: 1em;
    padding: 1em;
}
.text p {
    font-family: sans-serif;
    font-size: 1.25em;
}
.error {
    background-color: #ffaaaa;
    border: 0.25em solid #cc0000;
    color: inherit;
    float: left;
}
.success {
    background-color: #aaffaa;
    border: 0.25em solid #00cc00;
}
form.password {
    display:inline;
    float:left;
}
form.password label {
   display: block;
    float: left;
    text-align: right;
    width: 200px;
    margin-right: 5px;
}