
html, body.core {
  background-color : #FBFBFB;
  font-size: 11pt;
}
.zhelp {
  width:60%;
  background-color : #fff;
  color: #666;
  padding : 20px;
  border : 1px solid #fff;
  border-radius : 8px;
  box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
}
.zhelp .title {
  font-size: 150%;
  font-weight : bold;
  border-top:0;
  border-left:0;
  border-right:0;
  padding : 20px 0px 5px 0px;
  margin : 10px 0px 20px 0px;
  text-align:left;
}
.zhelp p {
  font-size: 11pt;
}
.zhelp .content {
  font-size: 14pt;
  text-align : justify;
  padding : 0 0 10px 10px;
}

.authmain {
  width:300px;
  margin: 0 auto 0 auto;
}
.authmain a {
    color: #08C;
}
.authmain a:hover {
    color: #029;
    background-color: inherit;
}
.authmain a:visited {
    color: #08C;
}


.authmain table {
  width:100%;
}

.authmain .banner {
    text-align : center;
    margin-bottom:20px;
}
.authmain .banner .societe {
    display: inline;
    background: transparent url('[CORE_LOGOCLIENT]') no-repeat 0 50%;
    padding: 10px 10px 10px 50px;
    font-weight : bold;
    font-size: 200%;
    color: #888;
    text-shadow: 0 1px 0 white;
}


.authmain .zoneinput {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto 0 auto;
    border: 1px solid #e8e8e8;
    font-size: 11pt;
    border-radius: 3px;
    box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px;
}

.authmain .zoneinput .label {
  white-space : nowrap;
  width:100%;
  margin-top:1em;
  color: #999;
}
.authmain .input input {
  color: #555;
  line-height: 1;
  width: 100%;
  padding: 6px 2px 6px 2px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #E5E5E5;
  background: #FBFBFB;
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
  box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
  border-radius: 3px;
  font-size: 18px;
}

.authmain .zoneinput .action {
    margin-top:1em;
}

.authmain .zoneinput .action select {
    color: #888
}
.authmain .zoneinput .action select option {
    color: #888
}
.authmain .zoneinput .action a {
    float: right;
}
.authmain .input input:focus {
  border-color: #AAA;
}
.authmain .message {
  text-align : center;
  color : red;
  text-transform : lowercase;
}
.zhelp .close, .authmain .buttons {
  text-align : center;
  margin : 10px 0px 10px 0px;
  padding : 5px 0px 10px 0px;
  background-repeat: no-repeat;

}
.zhelp .close, .authmain .buttons a {
    padding-left: 20px;
}


div.zoneinput input::-webkit-input-placeholder {
  color:  #c4c4c4;
  font-weight : normal; 
  text-shadow: 0 1px 1px #fff;   
}
div.zoneinput input:-moz-placeholder {
    color:   #82A0B5;
  font-weight : normal;    
}

