body {
    color: #555;
}
 .page {
    padding: 1em;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: absolute;
    top:30%;
    left: 30%;
    margin-right: 30%;
    width: 40%;
    box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;

}
.text {
    margin: 1em;
    padding: 1em;
}
.text p {
    font-family: sans-serif;
    font-size: 1.25em;
}
.error-true {
    color: red;
}
.error-false {
    color: green;
}
a, a:link, a:visited {

  color: #08C;
  background-color: inherit;
}