body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

h1 {
    margin-top:0;
}

label.ui-button {
    width:100%;
}

.content .inner {
    padding:10px;
}

.policyLabel {
    margin-top: 0;
}

.file {
    margin: 1.2em 0;
    width: 100%;
}

.mainform {
    display:inline;
}

.frame {
    border-style: solid;
    border-color: #9BB3C4;
    border-width: 1px;
}

.legend {
    cursor: pointer;
}

.legend:before {
    content: "▼ "
}

.collapsed:before {
    content: "▲ "
}

.highlight {
    font-weight: bold;
}