/* $Id: anakeen-doc.css,v 1.1 2002/03/13 18:28:27 marc Exp $ */
.BOOK .TITLE          { color : #FE911C ;text-align: center }
.BOOK .SUBTITLE       { text-align: center }
.BOOK .CORPAUTHOR     { text-align: center }
.BOOK .AUTHOR         { text-align: center }
.BOOK .AFFILIATION    { text-align: center }
.BOOK .EDITEDBY       { text-align: center }
.BOOK .EDITOR         { text-align: center }
.BOOK .GRAPHIC        { text-align: center }

.MEDIAOBJECT { text-align: center }
.ARTICLE .TITLE          { color : #FE911C ;text-align: center }
.ARTICLE .SUBTITLE       { color : #FE911C ;text-align: center }
.ARTICLE .CORPAUTHOR     { text-align: center }
.ARTICLE .AUTHOR         { color : #FE911C ;text-align: center }
.ARTICLE .AFFILIATION    { text-align: center }
.ARTICLE .EDITEDBY       { text-align: center }
.ARTICLE .EDITOR         { text-align: center }
.ARTICLE .GRAPHIC        { text-align: center }
.ARTICLE .ABSTRACT       { margin-left: 0.5in;
                           margin-right: 0.5in;
                           font-style: italic }

A.hlink { color : #FE911C ; }
H1,H2,H3,H4 { color : #FE911C ; }

.NAVHEADER, .NAVFOOTER {
   color : #02472A ;
   text-align : justify;
   font-size : 10pt;
  }

P {
	font-family : helvetica;
	color : #02472A ;
	text-align : justify;
	font-size : 10pt;
        margin-left: 12pt; 
}

P:first-letter {
	font-family : helvetica;
	color : #FE911C ;
	font-size : 12pt;
	font-variant: small-caps;
}

LI P:first-letter {font-family : helvetica;
   		   color : #02472A ;
   		   text-align : justify;
    		   font-size : 10pt;
                   font-variant : normal;
  }
P B { font-size : 12pt;
      color : #FE911C ;
    }

.content { color : #FFFFFF ;
           font-size : 10pt ;
           text-align : justify;
           margin-left: 6pt; 
           margin-right:2em;
         }
.white { color : #FFFFFF ;}

H1.content { font-size : 10pt;}

.footer { font-size : 8pt; }

/* center image */
DIV.MEDIAOBJECT P {text-align : center }


DIV.CAUTION, DIV.WARNING { 
	border-width : thin;
	margin : 1pt;
	padding : 3pt;
	border-style : inset ; 
	border-width: thin ; 
	border-color : slategrey; 
}

.SCREEN { 
 	color : black;
	border-width : thin;
	background-color : #EFF3EF;

	margin : 1pt;
	padding : 3pt;
	border-left : solid slategrey; 
	border-left-width : thin;
	border-top : solid slategrey; 
	border-top-width : thin;

	border-right : solid ivory; 
	border-right-width : thin;
	border-bottom : solid ivory; 
	border-bottom-width : thin;
	

}

.PROGRAMLISTING { 
	color : #02472A;
	background : url('../images/listing.gif'); 
	border-width : 0pt;
	padding : 3pt;
}

.EMPHASIS {
	font-weight: bold;
}

.SGMLTAG { 
	color : navy;
}
