/* ---------------------------------------------------------------------------
 * $Id: core.css,v 1.40 2005/07/19 16:29:12 eric Exp $
 * ---------------------------------------------------------------------------
 
 * ---------------------------------------------------------------------------
 */

body, .core {
  background: [CORE_BGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-size: [CORE_FONTBASESIZE];
  margin:2px;
  -moz-border-radius:10px;
}
P {
  font-family: [CORE_FONTLIST1];
  font-size: [CORE_FONTBASESIZE];
  color: [CORE_TEXTFGCOLOR];
}
TD {
/*  background: [CORE_BGCELLCOLOR];*/
  font-family: [CORE_FONTLIST1];
  font-size: [CORE_FONTBASESIZE];
	empty-cells: show;
	border-style : inherit;
}
TH {
  font-family: [CORE_FONTLIST1];
  font-size: [CORE_FONTBASESIZE];
  empty-cells: show;
  border-style : inherit;
  font-weight: bold;
}
TR {
  background: [CORE_BGCELLCOLOR];
  color: [CORE_TEXTFGCOLOR];
}

/*
 *
 * --------------------------------------------
 * Header CSS specific
 * --------------------------------------------
 */

.tablesimple {
	width : 100%;
	border-width: 0px;
	border-spacing: 0px;
	empty-cells: show;
        background: [CORE_BGCELLCOLOR];


}

.tableborder {
	border : [CORE_FGCOLOR] inset 1pt;
	border-spacing: 0px;
	empty-cells: show;
        background: [CORE_BGCELLCOLOR];
}



.headtitle {
  color: [CORE_TEXTBGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
}

TR.headcell  {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  
  border: none;
}

.headcellappbuttons {
  background-color: [CORE_APPBUTTONBGCOLOR];
}

.historique {
  font-family: [CORE_FONTLIST1];
  color: [CORE_TEXTFGCOLOR];
}  

.anakeen {
  font-family: [CORE_FONTLIST1];
  color: [CORE_TEXTFGCOLOR];
}


/*
 * --------------------------------------------
 * TDM Specific styles
 * --------------------------------------------
 */

.toctitle {
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
  color: [CORE_FGCOLOR];
}  

.tocitem0on {
  background-color: [CORE_FGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
  color: [CORE_BGCELLCOLOR];
}  

.tocitem0off {
  font-family: [CORE_FONTLIST1];
  color: [CORE_FGCOLOR];
}  


/*
 * ------------------------------------------
 * LINKS
 * ------------------------------------------
 */
A:link, A:visited {
  color: [CORE_ACOLOR];
  font-family: [CORE_FONTLIST1];
  text-decoration: none;
}
A {
  color: [CORE_ACOLOR];
  cursor:pointer  
}
IMG.click:hover {
  	cursor: pointer;
}
IMG.click:hover {
        background-color: [CORE_BGCOLORHIGH]; 
}

/*
 * ------------------------------------------
 * TAB STYLES
 * ------------------------------------------
 */
.TABBackgroundSelected {
  background-color: [CORE_FGCOLOR];
[IFNOT ISIE]  background-image: url('STYLE/AQUA/Images/button1.png');[ENDIF ISIE]
  
  color: [CORE_TEXTFGCOLOR];
  font-weight: bold;
}
.TABBackground {
  background: [CORE_BGCOLORALTERN];
[IFNOT ISIE]  background-image: url('STYLE/AQUA/Images/button1.png');[ENDIF ISIE]
  

  color: [CORE_TEXTBGCOLOR];
}
.TABOdd {
  background: [CORE_BGCOLORALTERN];
  border-color: [CORE_BGCOLORALTERN];
  border-style:inset none none none;;
  border-width: 2px 0pt 0pt 0pt;
  color: [CORE_TEXTBGCOLOR];
}
.TABLabelSelected {
  color: [CORE_TEXTBGCOLOR];
  font-family: [CORE_FONTLIST1];
}
.TABLabel {
  color: [CORE_TEXTFGCOLOR];
  font-family: [CORE_FONTLIST1];
}


/*
 * ------------------------------------------
 * PAGE CONTENT STYLES
 * ------------------------------------------
 */

.CORETblHead {
  color: [CORE_TEXTBGCOLOR];
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  font-family: [CORE_FONTLIST1];
}

.CORETblHeadBold {
  color: [CORE_TEXTBGCOLOR];
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
}
.CORETblHeadCell {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
}
.CORETblHeadCell TD{
  color: [CORE_TEXTBGCOLOR];
}
.CORETblHeadCellLine {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  border-style : solid none none none;
  border-width : 1px;
  border-color : [CORE_BGCELLCOLOR];
}

.CORETbl {
  color: [CORE_TEXTFGCOLOR];
  font-family: [CORE_FONTLIST1];
}

.CORETblBold {
  color: [CORE_TEXTFGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
}

.CORETblCell {
  background-color: [CORE_BGCELLCOLOR];
}
.CORETblCellLine {
  background-color: [CORE_BGCELLCOLOR];
  border-style : solid none none none;
  border-width : 1px;
}

.CORETblCellAltern, OPTION.CORETblCellAltern {
  background-color: [CORE_BGCOLORALTERN]!important;
}

.COREError {
  color: [CORE_ERRORCOLOR];
  font-weight: bold;
  padding:20px;
  background-color:#F0F0F0;
  [IF ISIE]filter:alpha(opacity=80);[ENDIF ISIE]
  -moz-opacity:.5;
  border:solid 1px;
  text-align:center;
}
.CORETextError {
  [IF ISIE]filter:alpha(opacity=100);[ENDIF ISIE]
  -moz-opacity:.99;
}
.COREErrorBg {
  color: [CORE_ERRORCOLOR];
  font-weight: bold;
  padding:20px;
  background:[CORE_BGCOLOR];
  border:solid 1px;
  text-align:center;
}

IMG.Fade {
	[IF ISIE]filter:alpha(opacity=50);[ENDIF ISIE]
	-moz-opacity:.5;	
}
IMG.NotFade {
}
IMG.Select {	
}
TD.Fade {
}
TD.Select {
}
TD.NotFade {
/*	background-image:url('[IMG:bgunfade.png]');*/
	/*background-color:[CORE_BGCOLORALTERN];*/
}

div.detail {
  font-family : helvetica ;
  font-weight : bold ;
  background:[CORE_BGCOLORALTERN];
  border: solid ;
  border-color: [CORE_FGCOLOR];
  border-width: 1pt;
  background: #FFFFFF;
  float:left;
  width:300px;
  padding:10px;
  margin:10px;
	
  -moz-border-radius:25px;
}

/*
 * LOG Style (like serial VT)
 */
.LOGConsole {
   background-color: #000000;
   color: #eaea67;
   font-family : courier;
}



DIV.TITLE { color : black;
	text-align:center;
	border-style : inset;
	border-color : [CORE_FGCOLOR];
	border-width: 1pt;
	padding : 3pt;		
}

INPUT, SELECT, OPTION, TEXTAREA, FILE {
   /*color:[CORE_TEXTFGCOLOR];*/
   background:[CORE_INPUTBGCOLOR];
   font-size: [CORE_FONTBASESIZE];
   margin:0pt;
/*  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:bg.png]',sizingMethod='scale');*/
}
OPTION {
   background: [CORE_INPUTBGCOLOR];
}
input[type="button"] { 
	-moz-border-radius:25px;
	padding:0pt;
   }
input:hover { 
	border-style:inset;
   }
input[type="submit"] { -moz-border-radius:25px;
   }
input[type="select"] { -moz-border-radius:25px;
  }
input[type="reset"] { -moz-border-radius:25px ;
 }
input[type="text"] { 
  -moz-border-radius:7px ;

  border:inset 1px [CORE_TEXTFGCOLOR];
 }
input[disabled], textarea[disabled] {
   color: #666666;
   background-color:[CORE_BGCOLORALTERN];
}
TEXTAREA { 
  -moz-border-radius:7px ;
  border:inset 1px [CORE_TEXTFGCOLOR];
 }


/* input[type="submit"]:hover, input[type="reset"]:hover,input[type="button"]:hover {
 background-image:url('Images/bgaqua.png');   
    -moz-opacity:.8;		
} */
input[type="image"] { 
  border-style : none;
  background-color:transparent;
 }

