/* ---------------------------------------------------------------------------
 * $Id: core.css,v 1.8 2002/05/23 16:14:40 eric Exp $
 * ---------------------------------------------------------------------------
 
 * ---------------------------------------------------------------------------
 */

body, .core {
  background: [CORE_BGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-size: [CORE_FONTBASESIZE];
}
P {
  font-family: [CORE_FONTLIST1];
  font-size: [CORE_FONTBASESIZE];
  color: [CORE_TEXTFGCOLOR];
}
TD {
/*  background: [CORE_BGCELLCOLOR];*/
  font-family: [CORE_FONTLIST1];
  font-size: [CORE_FONTBASESIZE];
	empty-cells: show;
	border-style : inherit;
}
TR {
  background: [CORE_BGCELLCOLOR];
  color: [CORE_TEXTFGCOLOR];
}

/*
 *
 * --------------------------------------------
 * Header CSS specific
 * --------------------------------------------
 */

.tablesimple {
	width : 100%;
	border-width: 0px;
	border-spacing: 0px;
	empty-cells: show;


}

.tableborder {
	border : [CORE_FGCOLOR] inset 1pt;
	border-spacing: 0px;
	empty-cells: show;
}



.headtitle {
  color: [CORE_TEXTBGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
  font-size: 100%;
}

.headcell {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
}

.headcellappbuttons {
  background-color: [CORE_APPBUTTONBGCOLOR];
}

.historique {
  font-family: [CORE_FONTLIST1];
  font-size: 100%;
  color: [CORE_TEXTFGCOLOR];
}  

.anakeen {
  font-family: [CORE_FONTLIST1];
  font-size: 100%;
  color: [CORE_TEXTFGCOLOR];
}


/*
 * --------------------------------------------
 * TDM Specific styles
 * --------------------------------------------
 */

.toctitle {
  font-family: [CORE_FONTLIST1];
  font-size: 100%;
  font-weight: bold;
  color: [CORE_FGCOLOR];
}  

.tocitem0on {
  background-color: [CORE_FGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
  font-size: 100%;
  color: [CORE_BGCELLCOLOR];
}  

.tocitem0off {
  font-family: [CORE_FONTLIST1];
  font-size: 100%;
  color: [CORE_FGCOLOR];
}  


/*
 * ------------------------------------------
 * LINKS
 * ------------------------------------------
 */
A {
  color: [CORE_ACOLOR];
  font-family: [CORE_FONTLIST1];
  font-size: 100%;
  text-decoration: none;
}

/*
 * ------------------------------------------
 * TAB STYLES
 * ------------------------------------------
 */
.TABBackgroundSelected {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  color: [CORE_TEXTFGCOLOR];
}
.TABBackground {
  background-color: [CORE_BGCOLORALTERN];
  color: [CORE_TEXTBGCOLOR];
}
.TABLabelSelected {
  color: [CORE_TEXTBGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-size: 100%;
}
.TABLabel {
  color: [CORE_TEXTFGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-size: 100%;
}


/*
 * ------------------------------------------
 * PAGE CONTENT STYLES
 * ------------------------------------------
 */

.CORETblHead {
  color: [CORE_TEXTBGCOLOR];
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  font-family: [CORE_FONTLIST1];
  font-size: 100%;
}

.CORETblHeadBold {
  color: [CORE_TEXTBGCOLOR];
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
  font-size: 100%;
}
.CORETblHeadCell {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
}
.CORETblHeadCellLine {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  border-style : solid none none none;
  border-width : 1px;
  border-color : [CORE_BGCELLCOLOR];
}

.CORETbl {
  color: [CORE_TEXTFGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-size: 100%;
}
.CORETblBold {
  color: [CORE_TEXTFGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
  font-size: 100%;
}

.CORETblCell {
  background-color: [CORE_BGCELLCOLOR];
}
.CORETblCellLine {
  background-color: [CORE_BGCELLCOLOR];
  border-style : solid none none none;
  border-width : 1px;
}

.CORETblCellAltern {
  background-color: [CORE_BGCOLORALTERN];
}

.COREError {
  color: [CORE_ERRORCOLOR];
  font-weight: bold;
}

div.detail {
  visibily: hidden ;
  font-family : helvetica ;
  font-weight : bold ;
  background-color:[CORE_BGCOLORALTERN];
  layer-background-color:[CORE_BGCOLORALTERN];
  border: solid ;
  border-color: [CORE_FGCOLOR];
  border-width: 1pt;
  background: #FFFFFF;
}

/*
 * LOG Style (like serial VT)
 */
.LOGConsole {
   background-color: #000000;
   color: #eaea67;
   font-family : courier;
   font-size: 100%;
}



DIV.TITLE { color : black;
	text-align:center;
	border-style : inset;
	border-color : [CORE_FGCOLOR];
	border-width: 1pt;
	padding : 3pt;		
}

INPUT, SELECT, TEXTAREA, FILE {
   color:[CORE_FGTEXTCOLOR];
   background-color:[CORE_BGCOLORALTERN];
}
