/* ---------------------------------------------------------------------------
 * $Id: core.css,v 1.24 2003/11/18 09:39:11 eric Exp $
 * ---------------------------------------------------------------------------
 
 * ---------------------------------------------------------------------------
 */

body, .core {
  background: [CORE_BGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-size: [CORE_FONTBASESIZE];
}
P {
  font-family: [CORE_FONTLIST1];
  font-size: [CORE_FONTBASESIZE];
  color: [CORE_TEXTFGCOLOR];
}
TD {
/*  background: [CORE_BGCELLCOLOR];*/
  font-family: [CORE_FONTLIST1];
  font-size: [CORE_FONTBASESIZE];
	empty-cells: show;
	border-style : inherit;
}
TR {
  background: [CORE_BGCELLCOLOR];
  color: [CORE_TEXTFGCOLOR];
}

/*
 *
 * --------------------------------------------
 * Header CSS specific
 * --------------------------------------------
 */

.tablesimple {
	width : 100%;
	border-width: 0px;
	border-spacing: 0px;
	empty-cells: show;
        background: [CORE_BGCELLCOLOR];


}

.tableborder {
	border : [CORE_FGCOLOR] inset 1pt;
	border-spacing: 0px;
	empty-cells: show;
        background: [CORE_BGCELLCOLOR];
}



.headtitle {
  color: [CORE_TEXTBGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
}

TR.headcell {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
}

.headcellappbuttons {
  background-color: [CORE_APPBUTTONBGCOLOR];
}

.historique {
  font-family: [CORE_FONTLIST1];
  color: [CORE_TEXTFGCOLOR];
}  

.anakeen {
  font-family: [CORE_FONTLIST1];
  color: [CORE_TEXTFGCOLOR];
}


/*
 * --------------------------------------------
 * TDM Specific styles
 * --------------------------------------------
 */

.toctitle {
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
  color: [CORE_FGCOLOR];
}  

.tocitem0on {
  background-color: [CORE_FGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
  color: [CORE_BGCELLCOLOR];
}  

.tocitem0off {
  font-family: [CORE_FONTLIST1];
  color: [CORE_FGCOLOR];
}  


/*
 * ------------------------------------------
 * LINKS
 * ------------------------------------------
 */
A:link, A:visited {
  color: [CORE_ACOLOR];
  font-family: [CORE_FONTLIST1];
  text-decoration: none;
}

/*
 * ------------------------------------------
 * TAB STYLES
 * ------------------------------------------
 */
.TABBackgroundSelected {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  color: [CORE_TEXTFGCOLOR];
  font-weight: bold;
}
.TABBackground {
  background-color: [CORE_BGCOLORALTERN];
  color: [CORE_TEXTBGCOLOR];
}
.TABOdd {
  background-color: [CORE_BGCOLORALTERN];
  border-color: [CORE_BGCOLORALTERN];
  border-style:inset none none none;;
  border-width 2px 0pt 0pt 0pt;
  color: [CORE_TEXTBGCOLOR];
}
.TABLabelSelected {
  color: [CORE_TEXTBGCOLOR];
  font-family: [CORE_FONTLIST1];
}
.TABLabel {
  color: [CORE_TEXTFGCOLOR];
  font-family: [CORE_FONTLIST1];
}


/*
 * ------------------------------------------
 * PAGE CONTENT STYLES
 * ------------------------------------------
 */

.CORETblHead {
  color: [CORE_TEXTBGCOLOR];
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  font-family: [CORE_FONTLIST1];
}

.CORETblHeadBold {
  color: [CORE_TEXTBGCOLOR];
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
}
.CORETblHeadCell {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
}
.CORETblHeadCellLine {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  border-style : solid none none none;
  border-width : 1px;
  border-color : [CORE_BGCELLCOLOR];
}

.CORETbl {
  color: [CORE_TEXTFGCOLOR];
  font-family: [CORE_FONTLIST1];
}

.CORETblBold {
  color: [CORE_TEXTFGCOLOR];
  font-family: [CORE_FONTLIST1];
  font-weight: bold;
}

.CORETblCell {
  background-color: [CORE_BGCELLCOLOR];
}
.CORETblCellLine {
  background-color: [CORE_BGCELLCOLOR];
  border-style : solid none none none;
  border-width : 1px;
}

.CORETblCellAltern {
  background-color: [CORE_BGCOLORALTERN];
}

.COREError {
  color: [CORE_ERRORCOLOR];
  font-weight: bold;
  padding:20px;
  background-color:#F0F0F0;
  filter:alpha(opacity=80);
  -moz-opacity:.5;
  border:solid 1px;
  text-align:center;
}
.CORETextError {
  filter:alpha(opacity=100);
  -moz-opacity:.99;
}
.COREErrorBg {
  color: [CORE_ERRORCOLOR];
  font-weight: bold;
  padding:20px;
  background:[CORE_BGCOLOR];
  border:solid 1px;
  text-align:center;
}

.imgFade {
	filter:alpha(opacity=50);
	-moz-opacity:.5;	
}
.imgNotFade {
	filter:alpha(opacity=99);
	-moz-opacity:.99;	
}
.imgSelect {
	filter:alpha(opacity=99);
	-moz-opacity:.99;	
}
div.detail {
  visibily: hidden ;
  font-family : helvetica ;
  font-weight : bold ;
  background-color:[CORE_BGCOLORALTERN];
  layer-background-color:[CORE_BGCOLORALTERN];
  border: solid ;
  border-color: [CORE_FGCOLOR];
  border-width: 1pt;
  background: #FFFFFF;
}

/*
 * LOG Style (like serial VT)
 */
.LOGConsole {
   background-color: #000000;
   color: #eaea67;
   font-family : courier;
}



DIV.TITLE { color : black;
	text-align:center;
	border-style : inset;
	border-color : [CORE_FGCOLOR];
	border-width: 1pt;
	padding : 3pt;		
}

INPUT, SELECT, TEXTAREA, FILE {
   color:[CORE_FGTEXTCOLOR];
   background-color:[CORE_INPUTBGCOLOR];
}
input[type="button"] { -moz-border-radius:25px;
   }
input[type="submit"] { -moz-border-radius:25px;
   }
input[type="select"] { -moz-border-radius:25px;
  }
input[type="reset"] { -moz-border-radius:25px ;
 }
/* input[type="submit"]:hover, input[type="reset"]:hover,input[type="button"]:hover {
 background-image:url('Images/bgaqua.png');   
    -moz-opacity:.8;		
} */
input[type="image"] { 
  border-style : none;
  background-color:transparent;
 }

