/* ---------------------------------------------------------------------------
 * $Id: core.css,v 1.51 2006/06/28 07:15:30 eric Exp $
 * ---------------------------------------------------------------------------
 
 * ---------------------------------------------------------------------------
 */


body, .core {
  margin:2px;
}

TD {
	empty-cells: show;
	border-style : inherit;
}
TH {
  empty-cells: show;
  border-style : inherit;
  font-weight: bold;
}


/*
 *
 * --------------------------------------------
 * Header CSS specific
 * --------------------------------------------
 */

.tablesimple {
	width : 100%;
	border-width: 0px;
	border-spacing: 0px;
	empty-cells: show;
        background: [CORE_BGCELLCOLOR];


}

.tableborder {
	border : [CORE_FGCOLOR] inset 1pt;
	border-spacing: 0px;
	empty-cells: show;
        background: [CORE_BGCELLCOLOR];
}



.headtitle {
  color: [CORE_TEXTBGCOLOR];
  font-weight: bold;
}
A.headtitle:hover {
  color: [CORE_TEXTBGCOLOR];
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
}

TR.headcell  {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  
  border: none;
}


.historique {
  color: [CORE_TEXTFGCOLOR];
}  

.anakeen {
  color: [CORE_TEXTFGCOLOR];
}


/*
 * --------------------------------------------
 * TDM Specific styles
 * --------------------------------------------
 */

.toctitle {
  font-weight: bold;
  color: [CORE_FGCOLOR];
}  

.tocitem0on {
  background-color: [CORE_FGCOLOR];
  font-weight: bold;
  color: [CORE_BGCELLCOLOR];
}  

.tocitem0off {
  color: [CORE_FGCOLOR];
}  


/*
 * ------------------------------------------
 * LINKS
 * ------------------------------------------
 */
A:link, A:visited {
  text-decoration: none;
}

IMG.click {
  	cursor: pointer;
	border:none;
}
IMG.click:hover {
        background-color: [CORE_BGCOLORHIGH]; 
}

/*
 * ------------------------------------------
 * TAB STYLES
 * ------------------------------------------
 */
.TABBackgroundSelected {
  background-color: [CORE_FGCOLOR];
[IFNOT ISIE]  background-image: url('STYLE/AQUA/Images/button1.png');[ENDIF ISIE]
  
  color: [CORE_TEXTFGCOLOR];
  font-weight: bold;
}
.TABBackground {
  background: [CORE_BGCOLORALTERN];
[IFNOT ISIE]  background-image: url('STYLE/AQUA/Images/button1.png');[ENDIF ISIE]
  

  color: [CORE_TEXTBGCOLOR];
}
.TABOdd {
  background: [CORE_BGCOLORALTERN];
  border-color: [CORE_BGCOLORALTERN];
  border-style:inset none none none;;
  border-width: 2px 0pt 0pt 0pt;
  color: [CORE_TEXTBGCOLOR];
}
.TABLabelSelected {
  color: [CORE_TEXTBGCOLOR];
}
.TABLabel {
  color: [CORE_TEXTFGCOLOR];
}


/*
 * ------------------------------------------
 * PAGE CONTENT STYLES
 * ------------------------------------------
 */

.CORETblHead {
  color: [CORE_TEXTBGCOLOR];
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
}

.CORETblHeadBold {
  color: [CORE_TEXTBGCOLOR];
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  font-weight: bold;
}
.CORETblHeadCell {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
}
.CORETblHeadCell TD{
  color: [CORE_TEXTBGCOLOR];
}
.CORETblHeadCellLine {
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMG];
  border-style : solid none none none;
  border-width : 1px;
  border-color : [CORE_BGCELLCOLOR];
}

.CORETbl {
  color: [CORE_TEXTFGCOLOR];
}

.CORETblBold {
  color: [CORE_TEXTFGCOLOR];
  font-weight: bold;
}

.CORETblCell {
  background-color: [CORE_BGCELLCOLOR];
}
.CORETblCellLine {
  background-color: [CORE_BGCELLCOLOR];
  border-style : solid none none none;
  border-width : 1px;
}

.CORETblCellAltern, OPTION.CORETblCellAltern {
  background-color: [CORE_BGCOLORALTERN]!important;
}

.COREError {
  color: [CORE_ERRORCOLOR];
  font-weight: bold;
  padding:20px;

[IFNOT ISIE]background-image:url('Images/op20.png');[ENDIF ISIE]
  [IF ISIE]filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Images/op20.png',sizingMethod='scale');float:left;[ENDIF ISIE]
  border:solid 1px;
  text-align:center;
}
.CORETextError {

}
.COREErrorBg {
  color: [CORE_ERRORCOLOR];
  font-weight: bold;
  padding:20px;
  background:[CORE_BGCOLOR];

  border:solid 1px;
  text-align:center;
}

IMG.Fade {
	[IF ISIE]filter:alpha(opacity=50);[ENDIF ISIE]
	[IFNOT ISIE]-moz-opacity:.5;[ENDIF ISIE]
}
IMG.NotFade {
} 
TD.NotFade A:hover {
  color: [CORE_TEXTBGCOLOR];
  background-color: inherit;
  background-image: inherit;
}
IMG.Select {	
}
TD.Fade {
[IF ISIE]
	padding-left:2px;
	padding-right:2px;
        border-left-style:none;
        border-right-style:none;[ENDIF ISIE]
[IFNOT ISIE]
	border-left:2px transparent solid;
	border-right:2px transparent solid;[ENDIF ISIE]
}
TD.Select {
[IF ISIE]
	padding-left:2px;
	padding-right:2px;[ENDIF ISIE]
[IFNOT ISIE]
	border-left:2px transparent solid;
	border-right:2px transparent solid;[ENDIF ISIE]
}
TD.NotFade {
/*	background-image:url('[IMG:bgunfade.png]');*/
	/*background-color:[CORE_BGCOLORALTERN];*/
	border:2px outset [CORE_BGCOLORALTERN];
[IF ISIE]
	padding-left:0px;
	padding-right:0px;[ENDIF ISIE]
}

div.detail {
  font-weight : bold ;
  background:[CORE_BGCOLORALTERN];
  border: solid ;
  border-color: [CORE_FGCOLOR];
  border-width: 1pt;
  background: #FFFFFF;
  float:left;
  width:300px;
  padding:10px;
  margin:10px;
	
  -moz-border-radius:25px;
}

/*
 * LOG Style (like serial VT)
 */
.LOGConsole {
   background-color: #000000;
   color: #eaea67;
   font-family : monospace;
}



DIV.TITLE { color : black;
	text-align:center;
	border-style : inset;
	border-color : [CORE_FGCOLOR];
	border-width: 1pt;
	padding : 3pt;		
}


