Source: freedom-what
Section: web
Priority: extra
Maintainer: yannick <yannick.lebriquer@anakeen.com>
Build-Depends: debhelper (>= 5), autoconf
Standards-Version: 3.7.2

Package: freedom-what
Architecture: all
Depends: libapache2-mod-php5 | php5 , apache2 , sudo, libapache2-mod-authn-pam, libpam-what
Description: Web Hosting Application Toolkit
 This package provides elements to deploy php applications based on
 WHAT design
