
* {
   font-family:Arial,Verdana,Helvetica;
  
}

DIV.logE, DIV.logG { font-family:courier; }
.E { background-color:#de6b4d; }

TABLE.app TD { border-top:solid grey 1px;
  }
    TABLE.app {
    border: 1px solid;width:80%;
    }
TH {
  background-image:url('../Images/brushed.png');
}
SPAN {
        -moz-border-radius:25px;
}
IMG {
        -moz-border-radius:25px;
}
IMG.button {
	cursor:pointer;
	background-color:#d5de4d;
}
.U {background-color:#deac4d;}
.E {background-color:#de6b4d;text-align:center}
.D {background-color:#de6b4d;}
.I {background-color:#d5de4d;
}
.G {background-color:green;}
.msg {
 height:40px;
 overflow:hidden;
 font-family:courier;
 font-size:7pt;
 width:200px;
}
BUTTON {
 border:outset;
}
.over {
 border:inset;
 background-color:lightgreen;
}
BODY {
  background-image:url('../Images/bg.gif');
}
div.bouton {
   background:transparent url('../Images/freeeye.gif') no-repeat;
   width:80px;
   height:80px;
   text-align:center;
   border:grey outset 3px;
   line-height:80px;
   font-family:Arial,Verdana,Helvetica;
   font-weight:bold;
   font-size:12pt;
   text-decoration:none;
   cursor:pointer;
}
div.bouton span {
  background-color:white;
  padding:3px;
}
div.bouton:hover {
   background-color:lightgreen;
}
.bigbutton {
  font-family:Arial,Verdana,Helvetica;
  font-size:14pt;
  text-decoration:overline underline;;
  background-image:url('../Images/op20.png');	
}
a.abut:hover span {
   background-color:#d5de4d;
}
div.frame {
  width:100%;
  border: groove 4px red;
}
