@CHARSET "UTF-8";

table.tarray thead tr th.withElabel {
    cursor: help;
}

table.tarray thead tr th.visibleAttribute,
table.tarray tbody tr td.visibleAttribute,
table.tarray tfoot tr td.visibleAttribute {
    visibility: visible;
    border-style: none none solid solid;
    border-width: 0 0 1px 1px;
}

table.tarray tbody tr td.visibleAttribute,
table.tarray tfoot tr td.visibleAttribute {
    padding-left: 4px;
}

/*please use empty in getHtmlInput...*/
table.tarray tbody tr td.empty,
table.tarray tfoot tr td.empty,
table.tarray thead tr th.hiddenAttribute,
table.tarray tbody tr td.hiddenAttribute,
table.tarray tfoot tr td.hiddenAttribute{
    display: none;
}

table.tarray thead tr td.tools,
table.tarray tbody tr td.tools ,
table.tarray tfoot tr td.tools {
    width: 50px;
}