.tarray .button {
    width: 22px;
    height: 22px;
    border: 0;
    cursor: pointer;
}

img.edit-image {
    height: 1.6em;
    max-width: 2em;
    border:none;
    padding: 0;
    margin: 0;
}

div.edit-image {
    display:inline-block;
    [IF ISIE6]display:inline;[ENDIF ISIE6]
    vertical-align: middle;
    width:2em;
    height: 1.6em;
    position:relative;
}

img.edit-image:hover {
    height: auto;
    max-width: 100px;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

.fileName {
    display:inline-block;
    [IF ISIE6]display:inline;[ENDIF ISIE6]
    vertical-align: bottom;

}
.fileButtons {
    [IFNOT ISIE6]float:right;[ENDIF ISIE6]
    [IF ISIE6]display:inline;[ENDIF ISIE6]
}
.fileButtons .inlineButton {
    border-top:none;
    border-bottom:none;
}
.fileInput {
    width:100%;
    [IFNOT ISIE6]display:inline-block;[ENDIF ISIE6]
    border : 1px solid [COLOR_A5];
    padding:1px;
}
input.uploadFile {
    min-width:100px;
    /*display: none;*/
    /*position: absolute;*/
    width:90%;
    padding: 5px;
    border: 1px solid rgb(170, 170, 170)  ;
    margin: 2px;
}

input.hiddenFile {
    display: none;

}
img.davIcon {
    border:none;
    vertical-align: bottom;
}
input[type=button].add-doc {
    background : url('[IMG:createdoc.png|16]') no-repeat;
    width:16px;
}
input[type=button].view-doc {
    background : url('[IMG:editdoc.png|16]') no-repeat;
    width:16px;
}

input[readonly="readonly"], input[readonly] {
    color: [COLOR_BLACK];
}
input[disabled="disabled"], input[disabled] {
    cursor:not-allowed;
    color: #808080;
    text-shadow: 2px 2px 2px #eee
}
.tarray .add-button {
    background : url('[IMG:add22.gif]') no-repeat;
}
.tarray .trash-button {
    background : url('[IMG:trash22.gif]') no-repeat;
}

.tarray .select-button {
    /*background : url('[IMG:next22.gif]') no-repeat;*/
}

.tarray .unselect-button {
    background : url('[IMG:point22.gif]') no-repeat;
}

.tarray .duplicate-button {
    background : url('[IMG:dup22.gif]') no-repeat;
}
div.relationTooltip {
    background-color: [COLOR_WHITE];
    border: 1px solid [COLOR_A0];
    padding: 3px;
    margin:3px;
}
/*
 *
 * refs #1443: trash columns in edition
 *
 */

table.tarray thead tr th.withElabel {
    cursor: help;
}

table.tarray thead tr th.visibleAttribute,
table.tarray tbody tr td.visibleAttribute,
table.tarray tfoot tr td.visibleAttribute {
    visibility: visible;
    border-style: none none solid solid;
    border-width: 0 0 1px 1px;
}

table.tarray tbody tr td.visibleAttribute,
table.tarray tfoot tr td.visibleAttribute {
    padding-left: 4px;
}

/*please use empty in getHtmlInput...*/
table.tarray tbody tr td.empty,
table.tarray tfoot tr td.empty,
table.tarray thead tr th.hiddenAttribute,
table.tarray tbody tr td.hiddenAttribute,
table.tarray tfoot tr td.hiddenAttribute{
    display: none;
}
table.tarray div.drag-button {
  cursor:move;
  float:left;
  margin-top:3px;
  background : url('[IMG:drag22.png]') no-repeat;
  width:12px;
}
table.tarray input[type="radio"] {
    width: auto;
    height: auto;
}
tbody[moving="true"] {
    cursor:move!important;
}
tbody[moving="true"] input {
    cursor:move!important;
}
tr[moving="true"]  {
    background-color:[COLOR_B5];
}
[IF ISAPPLEWEBKIT]
select.multidoc[size="1"] {
    height:1.5em;
}
select.multidoc[size="2"] {
    height:3em;
}
select.multidoc[size="3"] {
    height:4.4em;
}
[ENDIF ISAPPLEWEBKIT]

table.tarray thead tr td.tools,
table.tarray tbody tr td.tools ,
table.tarray tfoot tr td.tools {
    width: 55px;
    white-space:nowrap;
}
.constraint {  
  color: [CORE_ERRORCOLOR];
  border:solid 1px [CORE_ERRORCOLOR];
  [IFNOT ISIE6]z-index:10;position:absolute;
  margin:10px 10px 10px 30px;[ENDIF ISIE6]
  background-color:[COLOR_A9];
  padding:3px;
  cursor: pointer;
}

input.invalid,
textarea.invalid,
select.invalid,
span.invalid,
table.invalid,
fieldset.invalid {
    border: solid 1px [CORE_ERRORCOLOR] !important;
    background-color: #ffc0cb ! important;
}

input[type="text"].invalid {
    border: solid 1px [CORE_ERRORCOLOR] !important;
}
.document div.tabsh span.invalid {
  background:#FF8B8B;
  border:none!important;
}
.tipsy-constraint .tipsy-inner {
    background-color:#C71212;
    font-weight: bold;
    color: white;
    box-shadow: 5px 5px 2px grey;
}
.tipsy-constraint.constraint-over .tipsy-inner {
    background-color:#ff4500;
}

.tipsy-constraint.constraint-over .tipsy-arrow-n {
   border-bottom-color: #ff4500;
}
.tipsy-constraint.constraint-over  {
    z-index: 100001;  /* one more tipsy itself */
    opacity: 1 !important;
}
 .tipsy-constraint .tipsy-arrow-n {
    border-bottom-color: #C71212;
}
.tipsy-constraint:hover {
    z-index: 100002;  /* two more tipsy itself */
    opacity: 1 !important;
}
.close-constraint {
    [IFNOT ISIE8]
    float: right;
    left: 15px;
    position: relative;
    top: -13px;
    [ENDIF ISIE8]
    border: none;
    cursor: pointer;
}

.tipsy-inner {
    [IF ISIE6]
    width:200px;
    [ENDIF ISIE6]
}