* { font-family : Trebuchet MS, sans;}

body, html
{
	background-color:white;
	color:#575757;
	height:100%;
	/*width:100%;*/
}

#left
{
	background-color:white;
	float:left;
	width:200px;
	height: 100%;
	font-size:0.6em;
	background-color:#D7D7D7;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	text-overflow:ellipsis;
  	white-space:nowrap; 
	overflow:hidden;
}

#multidoc
{
	margin-left:210px;
	background-color:white;
	height:100%;
}

.tabs
{
	width:100%;
	height:40px;
}

.tab
{
	position:relative;
	z-index:1;
	float:left;
	font-size:0.6em;
	height:35px;
	width:auto;
	background-color:#E6E6E6;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	-moz-box-shadow: 1px 1px 5px #555;
  	-webkit-box-shadow: 1px 1px 5px #555;
  	text-align:center;
  	cursor:pointer;
}

.tab-active
{
	position:relative;
	z-index:1;
	float:left;
	font-size:0.6em;
	height:35px;
	width:auto;
	background-color:#C1C3C3;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	-moz-box-shadow: 1px 1px 5px #555;
  	-webkit-box-shadow: 1px 1px 5px #555;
  	text-align:center;
  	cursor:pointer;
}

.tab:hover, .tab-active:hover
{
	text-decoration:underline;
}

.content
{
	float:left;
	padding:2px;
	width:140px;
	margin:auto;
	margin-top:10px;
	font-weight: bold;
	text-overflow:ellipsis;
  	white-space:nowrap; 
	overflow:hidden;  
}

.doc_content
{
	height:100%;
	background-color:white;
	float:left;
	width:100%;
	margin-right:410px;
}

.clickable
{
	float:left;
}

.icon_doc
{
	float:left;
	margin-top:10px;
}

.options
{
	float:left;
	visibility:hidden;
	margin-right:-20px;
	position:relative;
	z-index: 100;
	width:20px;
	height:35px;
	background-color:#E6E6E6;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	-moz-box-shadow: 1px 1px 5px #555;
  	-webkit-box-shadow: 1px 1px 5px #555;
  	opacity: 0.8;
}

.img_new
{
	float:left;
	background-image:url(../images/goto.png);
	margin-left:2px;
	width:16px;
	height:16px;
}
	
.img_del
{
	float:left;
	background-image:url(../images/del.png);
	margin-left:2px;
	width:16px;
	height:16px;
}

.tabcontent
{
	margin-right:3px;
}

.img_del:hover, .img_new:hover
{
  	-moz-box-shadow: 1px 1px 5px #555; 
  	-moz-border-radius: 5px;
  	-webkit-box-shadow: 1px 1px 5px #555; 
  	-webkit-border-radius: 5px;
  	background-color:#C1C3C3;
}


/* HORIZONTAL MODE */

.tabs_horizontal
{
	float:left;
	width:200px;
}

.doc_content_horizontal
{
	height:100%;
	background-color:white;
	margin-left:200px;
}