#header ul#tabs li 
{

    font-weight : bold;
    text-shadow : 1px 0px 1px [COLOR_WHITE];
    color : [COLOR_A5];

    float : left;

    cursor : pointer;

    padding : 3px 5px 3px 5px;
    margin:5px 1px 0px 0px;

    border-width : 1px ;
    border-color : [COLOR_A7] [COLOR_A7] [COLOR_A7] [COLOR_A7];
    border-style : solid ;

    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    background-color: [COLOR_A7]; 
    background: -webkit-gradient(linear,0% 0,0% 100%,from([COLOR_A9]),to([COLOR_A7]));
    background: -moz-linear-gradient(270deg,[COLOR_A9],[COLOR_A7]);

}
#header ul#tabs li.tab-active
{
    color : [COLOR_A2];
    background-color: [COLOR_A9]; 
    background: -webkit-gradient(linear,0% 0,0% 100%,from([COLOR_A7]),to([COLOR_A9]));
    background: -moz-linear-gradient(270deg,[COLOR_A7],[COLOR_A9]);
    padding : 5px 5px 5px 5px;
    border-color : [COLOR_A7] [COLOR_A7] [COLOR_WHITE] [COLOR_A7];
}

#header ul#tabs li:hover
{
    color : [COLOR_A2];
/*
    padding : 5px 5px 5px 5px;
    margin-top : 1px;
*/
    background-color: [COLOR_A8]; 
    background: -webkit-gradient(linear,0% 0,0% 100%,from([COLOR_A9]),to([COLOR_A8]));
    background: -moz-linear-gradient(270deg,[COLOR_A9],[COLOR_A8]);

}




div.multidoc #header 
{
    border-bottom : 1px solid [COLOR_A7];
    height : 2.8em;
}
.clear { clear:both; }