/* ---------------------------------------------------------------------------
 * $Id: AQUA.css,v 1.2 2006/07/26 08:29:58 eric Exp $
 * ---------------------------------------------------------------------------
 
 * ---------------------------------------------------------------------------
 */



body, .core {
  background-color: transparent;
  background-image: [CORE_BGIMAGE];
}

TABLE.headbarmenu TD {  
  background-color: transparent!important;
  background-image: none;
}
TABLE.headbarmenu TR.headcell {
  background-color: transparent;
}
