/* ---------------------------------------------------------------------------
 * $Id: DEFAULT.css,v 1.16 2008/12/11 15:28:04 eric Exp $
 * ---------------------------------------------------------------------------
 
 * ---------------------------------------------------------------------------
 */



body, .core {
  color: [CORE_TEXTFGCOLOR];
}
body.core {
  background-color: [CORE_BGCOLOR];
  background-image: [CORE_BGIMAGE];
}

TD {
  background-color: inherit;
  background-image: inherit;
}



TR {
/*  background: [CORE_BGCELLCOLOR];*/
  color: [CORE_TEXTFGCOLOR];
}




/*
 * ------------------------------------------
 * LINKS
 * ------------------------------------------
 */
A:link, A:visited {
  color: [CORE_ACOLOR];
  text-decoration: none;
}
A {
  color: [CORE_ACOLOR];
  cursor:pointer  
} 

A:hover {
        background-color: [COLOR_A9]; 
        text-decoration:  underline ;
}
/*
 * ------------------------------------------
 * INPUTS
 * ------------------------------------------
 */
INPUT, SELECT, OPTION, TEXTAREA, FILE {
   color:[input-text-normal-color];
   background-color:[input-background-normal-color];
   margin:0pt;
/*  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:bg.png]',sizingMethod='scale');*/
}
OPTION {
   color:[input-text-normal-color];
   background-color:[input-background-normal-color];
}
BUTTON, input[type="button"], input[type="submit"] { 
  /*-moz-border-radius:25px;*/
  padding:0pt;
  margin:0px;
  vertical-align:top;
  overflow:hidden;
  border:1px outset;
  color:[input-text-normal-color];
  background-color:[input-background-normal-color];
  background-image: [input-background-image];
   }

TABLE.edittable input[type="button"] {
  border-left-style:none;
  margin-right:1px;
  
}
BUTTON:hover { 		
  background-image: [input-background-image];
  margin:0px;
  border:1px inset;
   }



OPTION:hover {  
  color:[input-text-hover-color];
  background-color:[input-background-hover-color];
}
input:hover,  TEXTAREA:hover,  SELECT:hover { 
  border-style:inset;
  color:[input-text-hover-color];
  background-color:[input-background-hover-color];
   }
input:focus,  textarea:focus, input.sffocus, textarea.sffocus { 
  border-style:inset;
  color:[input-text-focus-color];
  background-color:[input-background-focus-color];
   }


/*
 SELECT:focus { 
  color:[input-text-focus-color];
  background-color:[input-background-focus-color];
   }
*/
/*
input[type="submit"] { -moz-border-radius:25px;
   }
input[type="select"] { -moz-border-radius:25px;
  }
input[type="reset"] { -moz-border-radius:25px ;
 }
*/
input[type="text"] { 
  /*-moz-border-radius:7px ;*/

  border:inset 1px [input-text-normal-color];
 }
input[type="checkbox"], input[type="radio"] { 
  vertical-align:middle; 
 }
input[disabled], textarea[disabled] {
  color:[input-text-disabled-color];
  background-color:[input-background-disabled-color];
}
TEXTAREA { 
  /*-moz-border-radius:7px ;*/
  border:inset 1px [input-text-normal-color];
 }


/* input[type="submit"]:hover, input[type="reset"]:hover,input[type="button"]:hover {
 background-image:url('Images/bgaqua.png');   
    -moz-opacity:.8;		
} */
input[type="image"] { 
  border-style : none;
  background-color:transparent;
 }


/*
 * ------------------------------------------
 * POPUPMENU
 * ------------------------------------------
 */


.popup {
  background-color: [menu-background-normal-color]!important;  
  border-color: [menu-background-normal-color]!important;
}

.popup a.menuItem * ,.popup a.menuItem, .popup a.menuItem:link, .popup a.menuItem:visited ,.popup a.menuItemCtrl:link, .popup a.menuItemCtrl:visited , .popup a.separator {
  color: [menu-text-normal-color]!important;
  font-weight: normal;
}

 .popup a.menuItemDisabled, .popup a.menuItemDisabled:link, .popup a.menuItemDisabled:visited,.popup a.menuItemCtrlDisabled,.popup a.menuItemCtrlDisabled:link,.popup a.menuItemCtrlDisabled:visited {
  color: [menu-text-disabled-color]!important;
  font-weight: normal;
}
.popup a.separator {
  border-color:[menu-text-normal-color]!important;
}
.popup a.separator:hover {
  text-decoration: none;
  color: [menu-text-hover-color]!important;
  background-color: [menu-background-hover-color]!important;  
}
.popup a.menuItem:hover,.popup a.menuItemCtrl:hover  {
  color: [menu-text-hover-color]!important;
  background-color: [menu-background-hover-color]!important;
}
.popup a.menuItemDisabled:hover,.popup a.menuItemCtrlDisabled:hover {
  color: [menu-text-disabled-color]!important;
  background-color: [menu-background-hover-color]!important;	
}
.popup a.menuItem:hover *,.popup a.menuItemCtrl:hover *  {
  background-color: [menu-background-hover-color]!important;  
  color: [menu-text-hover-color]!important;
}
.popup a.menuItemDisabled:hover *,.popup a.menuItemCtrlDisabled:hover * {
  color: [menu-text-disabled-color]!important;
}

/*
Select Fix for IE6 and IE5.x
Version 0.3

CSS instructions from http://www.hedgerwow.com/360/bugs/css-select-free.html
But keep in mind that these classes are a bit modified.
*/

.select-free {
  overflow:hidden;/*must have*/
}
.select-free .innerFixer {
  position:absolute;/*must have*/
  top:0;/*must have*/
  left:0;/*must have*/
  display:none;/*sorry for IE5*/
  display/**/:block;/*sorry for IE5*/
  width:100%;/* (old value 3000px) must have for any big value*/
  height:100%;/* (old value 3000px) must have for any big value*/
}
.select-free iframe.innerFixer {
  border: 0;
  filter:mask();/*must have*/
  z-index:-1;/*must have*/
}
