.document {
	font-family: tahoma, arial, helvetica, sans-serif;
	padding: 10px;
}

.document legend,.document a {
	font-weight: bold;
}

.document legend {
	font-size: 11px;
}

.document a:HOVER {
	text-decoration: none;
}

/**
 * autocompletion.css
 */

.document .AutoCompleteDivListeStyle {
  font-size: 13px; font-family: arial,sans-serif; 
  white-space:nowrap;
  cursor:default;
  border-style: inset ;
  border-width: 1px ;
  padding:0px;
  z-index:1;
  overflow: auto;
}

.document .AutoCompleteDiv {
  display: block; 
  padding-left: 3px; 
  padding-right: 3px; 
}

.document .AutoCompleteDivAct {
  display: block; 
  padding-left: 3px; 
  padding-right: 3px;
}

/**
 * End of Autocomplete.css
 */


.document fieldset {
	border-style: solid;
	border-width: 1px ;
	-moz-border-radius: 0px;
	margin-bottom: 10px;
	padding: 10px 5px 5px 5px;
}

.document .FREEDOMLabel {
	text-align: left;
}

.document .FREEDOMLabelNeeded {
	text-align: left;
}

.document input,.document select,.document textarea,.document file {
	border-width: 1px;
	border-style: solid;
	font-size: 11px;
}

.document select {
	background-repeat: repeat-x;
	border-width: 1px ;
	border-style: solid ;
	font-size: 11px;
}

.document input[type=button] {
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	width: 17px;
	margin-right: 0px !important;
	cursor: pointer;
	height: 22px;
}

.document input.constraint {
	border-top: 0px;
	border-right: 0px;
	width: 17px;
	margin-right: 0px !important;
	cursor: pointer;
	height: 22px;
}

.document input.normal {
	background: transparent none repeat-x scroll 0 -1096px;
	width: auto;
	margin-right: 0px !important;
	cursor: pointer;
	height: 22px;
}

.document input.normal:hover {
	background-position: 0px -2168px !important;
}

.document input[type=button]:HOVER {
	background-position: -17px 0px;
}

.document input[type=text],.document input[type=password],.document select,.document textarea {
	padding: 3px;
}

.document td,.document tr,.document th {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.document th {
	background-repeat: repeat-x;
	height: 24px;
	border-width: 1px !important;
	border-style: solid !important;
	border-top: 0px !important;
	padding-left: 3px !important;
}

.document td {
	border: 0px !important;
}

.document td,.document th {
	font-size: 11px;
}

.document .tarray {
	border: 0;
}

.document .border {
	border-width: 1px;
	border-style: solid;
}

.document .line {
	margin-bottom: 10px;
	height: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-width: 1px ;
	border-top-style: solid;
	position: relative;
	top: -1px;
}

.document .tabsh span {
	font-weight: bold;
	font-size: 11px;
	-moz-border-radius: 0px;
	border-left-width: 1px ;
	border-left-style: solid;
	border-right-width: 1px ;
	border-right-style: solid ;
	border-top: 0;
	border-bottom: 0;
	margin-left: 5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-position:0 -201px;
	background-repeat:repeat-x;
	background-attachment:scroll;
}

.document .tabsh .tabsel {
	background-repeat: repeat-x;
	background-position: 0 -151px;
	background-attachment: scroll;
	position: relative;
	z-index: 1;
}

.document .tarray .add-button,.document .tarray .add-button:HOVER {
	background-repeat: no-repeat;
}

.document .tarray .trash-button,.document .tarray .trash-button:HOVER {
	background-attachment: scroll;
	background-position: 2px 2px;
	background-repeat: no-repeat;
}

.document .tarray .select-button,.document .tarray .select-button:HOVER {
	background-attachment: scroll;
	background-position: 2px 2px;
	background-repeat: no-repeat;
}

.document .tarray .unselect-button,.document .tarray .unselect-button:HOVER {
	background-repeat: no-repeat;
}

.document .tarray .duplicate-button,.document .tarray .duplicate-button:HOVER {
	background-repeat: no-repeat;
}

.calendar {
	z-index: 1;
}

/* #fedit {
	font-family: tahoma, arial, helvetica, sans-serif;
	padding: 10px;
	font-size: 11px;
}

#fedit a {
	font-weight: bold;
}

#fedit a.state, #fedit a.boldstate {
	border:0 !important;
} */

#fedit a:HOVER {
	text-decoration: none;
}