.nglink {  
  background-color: transparent;
  background-image: url([IMG:ng_ico_link.png]);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 13px;
}
.nglink:hover {  
  border-style : none none solid none;
  border-color : [CORE_ACOLOR];
  border-width : 1px;
}
.ngmail {  
  background-color: transparent;
  background-image: url([IMG:ng_ico_mail.png]);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 15px;
}
.ngmail:hover {  
  border-style : none none solid none;
  border-color : [CORE_ACOLOR];
  border-width : 1px;
}

.ngbutton {
  cursor : pointer;
}

.rubrique {
  margin  : 10 10 10 10;
  padding : 5px;
  border-style : solid;
  border-color : [CORE_BGCOLORHIGH];
  border-width : 1px;
}  
.rubrique_title {
  border-style : outset;
  border-width : 1px;
  border-color : [CORE_BGCOLORHIGH];
  background-color: [CORE_BGCOLORALTERN];
  font-weight: bold;
}
.rubrique_subtitle {
  padding : 5px 0px 0px 0px;
  font-weight: bold;
  border-style : none none solid none;
  border-width : 1px;
  border-color : [CORE_BGCOLORHIGH];
}
.rubrique_subtitle1 {
  font-weight: bold;
  font-style : italic;
  border-style : none none dotted none;
  border-width : 1px;
  border-color : [CORE_BGCOLORHIGH];
}
.rubrique_date, .new_date {
  font-style : italic;
  font-size : 75%;
}
.rubrique_item {
  padding : 0px 2px 0px 10px;
}


.new_box {
  margin : 0px 2px 0px 10px;
  padding : 3px;
  -moz-border-radius: 10px;
  border-style : solid;
  border-width : 1px;
  border-color: [CORE_BGCOLORHIGH];
}  
.new_title {
  font-weight: bold;
  font-variant: small-caps;
}
.new_content {
  font-size : 85%;
  margin : 0px 0px 0px 15px;
  padding : 3px;
  -moz-border-radius: 10px;
  border-style : solid;
  border-width : 1px;
  border-color: [CORE_BGCOLORHIGH];
}
.rss {
  font-size : 85%;
}

.mail_title {
  padding : 0px 2px 0px 10px;
  font-size : 85%;
}

