html { background-color:#fff; padding:0; margin:0px 0px 0px 300px; }
body { font-family:Trebuchet MS, Helvetica, sans; background-color:#fff; padding:0px; margin:0px; color:#666; }

img { border:0; }
a, a:link, a:visited { }
a:hover { }
p { margin:0; padding:0 }

/* 
 * left block
 */
#dynacase {
    background-image : url([IMG:anakeen-bgs.png]);
    background-position:5px 5px;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-color:#555; 
    height:100%; 
    padding:0; 
    margin:0; 
    width:300px; 
    margin:0 0 0 -300px; 
    float:left; 
    position:fixed; 
}

#apropos { padding:10px; color:#ccc; }
#apropos .intro { text-align:right; font-size:80%; color:#fff; }
#apropos div.fr, #apropos div.en { text-align:justify;padding:20px 15px 0 15px; }
#apropos a, #apropos a:link, #apropos a:visited   { color:#bfe1cf; text-decoration:underline; }
#apropos a:hover { color:#f4f375; text-decoration:none; background-color:#222; }
#apropos p { margin-bottom:10px; }




#hello { 
    padding:80px 40px; 
    background-image : url([IMG:dc-platform-130x60.png]);
    background-position:top right;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

#header { color:#CCC;}
#header .title { font-weight:bold; font-size:400%; }
#header div.content { font-weight:bold; font-size:200%; }
#welcome { margin:50px 0 60px 0px; font-size:200%;  }
#header .version {  margin:10px 0 0 0; font-size:100%; color:#CCC; }
#header .version span {  color:#888; }




#links { }
#links > div { float:left; width:45%; margin:40px 10px 40px 0px; height:80px; }
#links a {  
    color:#aaa; 
    vertical-align:top; 
    display:block; 
    height:100%; 
    text-decoration:none; }
#links div.label {  padding:10px; font-size:100%; }
#links img {  float:left;border-right:1px solid #aaa; margin-right:10px;  }

/*
#hello .description { 
    padding : 40px 0px 20px 100px;
}
*/
#footer { 
    margin : 10px;
    border-top:1px solid #666;
    text-align:right;
}
#footer a { color:#005d00; }


.clear { clear:both; }
