html { background-color:[COLOR_WHITE]; padding:0; margin:0px; }
body { font-family:Ubuntu, Trebuchet MS, Helvetica, sans; background-color:#fff; padding:0px; margin:0px; color:[COLOR_A4]; }

img { border:0; }
a, a:link, a:visited { }
a:hover { background-color:inherit; }
p { margin:0; padding:0 }



/* 
 * left block
 */
.left-block {
    background-color:[COLOR_A0]; 
    height:100%; 
    padding:0; 
    margin:0; 
    position:fixed; 
    width:20%;
    left:0px;
}
#apropos { padding:10px; color:[COLOR_C7]; }
#apropos em { font-style:normal; font-weight: bold; }
#apropos ul { margin-left:0; padding-left: 20px; }
#apropos li { }
#apropos .intro { text-align:right; font-size:80%; font-weight:bold; color:[COLOR_WHITE]; }
#apropos div.fr, #apropos div.en { padding:20px 15px 0 15px; }
#apropos a, #apropos a:link, #apropos a:visited   { color:[COLOR_C3]; text-decoration:underline; }
#apropos a:hover { text-decoration:none; background-color:[COLOR_A6]; }
#apropos p { margin-bottom:10px; }
#apropos a.anakeen, #apropos a.anakeen:visited, #apropos a.anakeen:hover { font-weight:bold; text-decoration:none; }

/* 
 * right block
 */
.right-block { margin:0 0 0 20%; padding:10px; }
.right-block .intro { text-align:right; font-size:80%; font-weight:bold; }

#hello {  padding:60px 40px; }

#header { text-align:center;}
#header .title { font-weight:bold; font-size:400%; }
#header div.content { font-weight:bold; font-size:200%; }
#welcome { text-align:center; margin:50px 0 60px 0px; font-size:200%;  }
#header .version {  margin:10px 0 0 0; font-size:100%; }
#header .version span {  color:[COLOR_A0]; }




.links { text-align:center; padding: 60px 40px; }
.links > div { width:48%; float:left;}
.links a { margin-right 10%; display:block; }
.links .label { max-width:50%; margin: 1em auto 0 auto; font-size:150%; }
.links img { }

div.manual {
    margin-top:20px;
}
a.manual {
    background-image: url([IMG:mime-pdf.png|16]);
    padding-left:17px;
    background-repeat: no-repeat;
}
#footer { 
    text-align:right;
    position:fixed;
    bottom:0px;
    width:100%;
    background-color:[COLOR_A0];
    color:[COLOR_A9];
}
#footer a { color:[COLOR_A9]; }


.clear { clear:both; }

.documentation {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    margin: 0 20% 0 20%;
}