html, body {
    font: normal 12px tahoma, arial, verdana, sans-serif;
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: hidden;
	height: 100%;
}

h1 {
	font-size: 14px;	
}

h1, h2 {
	padding-top: 10px;	
}

body {
	padding: 20px;	
}


.docid {
    color: #15428B;
    cursor: pointer;
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 11px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none;
}

/**
 * Style for Ext.fdl.IconCollection
 */
 
.freedom-icon-wrap {
    float: left;
    height: 60px;
    padding: 5px;
    width: 65px;
	text-align: center;
	cursor: default;
}

.freedom-icon-text {
    color: black;
	font-size: 11px;
}

.freedom-icon {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.x-view-selected .freedom-icon-wrap {
    background: #DFE8F6 none repeat scroll 0 0;
}

/**
 * EO Style for Ext.fdl.IconCollection
 */

/**
 * Style for Ext.fdl.AbstractCollection
 */
 
.freedom-abstract-wrap {
	cursor: default;
}

.freedom-abstract-text {
    color: black;
	font-size: 11px;
}

.freedom-abstract {
    
}

.x-view-selected .freedom-abstract-wrap {
    background: #DFE8F6 none repeat scroll 0 0;
}

/**
 * EO Style for Ext.fdl.AbstractCollection
 */
 
/**
 * Patch to handle height in ux-media panel
 */

.x-media-panel .x-panel-bwrap {
	height: 100%;
}	

/**
* EO Patch to handle height in ux-media panel
*/

.x-hover-disabled:HOVER {
	cursor: default;
}

/**
 * Tree grid
 */

.x-column-tree.x-tree-node {
 zoom: 1;
}

.x-column-tree.x-tree-node-el {
 /*border-bottom:1px solid #eee; borders? */
 zoom: 1;
}

.x-column-tree.x-tree-selected {
 background: #d9e8fb;
}

.x-column-tree.x-tree-node a {
 line-height: 18px;
 vertical-align: middle;
}

.x-column-tree.x-tree-node a span { }

.x-column-tree .x-tree-node .x-tree-selected a span {
 background: transparent;
 color: #000;
}

.x-tree-col {
 float: left;
 overflow: hidden;
 padding: 0 1px;
 zoom: 1;
}

.x-tree-col-text, .x-tree-hd-text {
 overflow: hidden;

 -o-text-overflow: ellipsis;
 text-overflow: ellipsis;
 padding: 3px 3px 3px 5px;
 white-space: nowrap;
 height: 1.2em; /*height:20px;*/
 font: normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-tree-hd-text {
 height: 1.3em; /*height:20px;*/
}

.x-tree-headers {
 background: #f9f9f9 url(../ext/resources/images/default/grid/grid3-hrow.gif) repeat-x 0 bottom;
 cursor: default;
 zoom: 1;
}

.x-tree-hd {
 float: left;
 overflow: hidden;
 border-left: 1px solid #eee;
 border-right: 1px solid #d0d0d0;
}

/**
 * EO Tree grid
 */