.x-fdl-service .x-window-tl {
 /*  opacity:0.5;*/
   background-image:none;
   background-color:transparent;                          
}
.x-fdl-service .x-window-tr, .x-fdl-service .x-window-tc {
   background-image:none;
   background-color:transparent;  
                              }
.x-fdl-service .x-window-bc {
   opacity:0;
}
.x-fdl-service .x-window-ml {
   padding:0px;
}
.x-fdl-service .x-window-mr {
   padding:0px;
}
.x-fdl-service .x-window-br, .x-fdl-service .x-window-bc, .x-fdl-service .x-window-bl {
   padding:0px;
   opacity:0;
}
.x-fdl-service .x-resizable-handle { 
   opacity:0;
}
.x-fdl-service .x-resizable-mr { 
   opacity:0;
}
.x-fdl-service .x-panel-body-noheader, .x-fdl-service .x-grid3, .x-fdl-service .x-grid3-row-alt, .x-fdl-service .x-grid3-row {
 background-color:transparent;
 border:none;
}
div.x-fdl-service {
 /* opacity:0.5;*/
  -moz-border-radius:10px;
  background-image:url('../../Images/op20.png');
}
.x-fdl-service .x-panel-bbar {
  visibility:hidden;
}
div.x-fdl-service:hover div.x-panel-bbar {
  visibility:visible;
}
div.x-fdl-service:hover div.x-window-tl {
  opacity:1;
}
div.x-fdl-service:hover iframe {
  overflow:auto;
}
div.x-fdl-service iframe {
  overflow:hidden;
}

div.x-fdl-service:hover {
  opacity:1;
}
div.x-fdl-service div.x-grid3-scroller {
   overflow-y:hidden;
}

div.x-fdl-service:hover div.x-grid3-scroller {
   overflow-y:auto;
}
